@font-face {
    font-family: 'Freeman';
    src: url(../fonts/Freeman-Regular.ttf) format('truetype'),
    url(../fonts/Freeman-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'AlegreyaSansRegular';
    src: url(../fonts/AlegreyaSans-Regular.ttf) format('truetype'),
    url(../fonts/AlegreyaSans-Regular.woff2) format('woff2');
}

:root{
    
--pink-100:#FFF0F3;
--pink-200:#FFCCD5;
--pink-300:#FF8FA3;
--pink-400:#FF4D6D;
--pink-500:#590D22;
--pink-600:#2D0510;

--white-yellow:#FFF9EC;

--green-blue:#115745;

--background:var(--white-yellow); 
--foreground:var(--pink-600);

}

html{
    margin: .25em;
    box-sizing: border-box;
}

body{
    background-color:var(--background);
    color:var(--foreground);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Freeman', Arial, Helvetica, sans-serif;
}

p{
    font-family: 'AlegreyaSansRegular', Arial, Helvetica, sans-serif;
}

.responsive{
    width:100%;
    height: auto;
    max-width: ;
}