@font-face {
    font-family: 'Freeman';
    src: url(../fonts/Freeman-Regular.ttf) format('truetype'),
    url(../fonts/Freeman-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'AlegreyaSansRegular';
    src: url(../fonts/AlegreyaSans-Regular.ttf) format('truetype'),
    url(../fonts/AlegreyaSans-Regular.woff2) format('woff2');
}

:root{
--pink-100:#FFF0F3;
--pink-200:#FFCCD5;
--pink-300:#FF8FA3;
--pink-400:#FF4D6D;
--pink-500:#590D22;
--pink-600:#2D0510;

--white-yellow:#FFF9EC;

--green-blue:#115745;

--background:var(--white-yellow); 
--foreground:var(--pink-600);
--links:var(--green-blue);
}

html{
    box-sizing: border-box;
}

a:link{
    color: var(--foreground);
}

a:visited{
    color: var(--green-blue);
}

body{
    background-color:var(--background);
    color:var(--foreground);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Freeman', Arial, Helvetica, sans-serif;
    letter-spacing: auto;
}

    .titles, h3, article>h4, h5{
        text-align: center;
    }
    h1{
        font-size: 3.5rem;
        line-height: .5rem;
        margin: 4rem auto auto;
    }
        .casestudy{
                font-size: 2.5rem;
                line-height: 3rem;
                margin-bottom: 1.5rem;
                text-align: center;
            }
    h2{
        font-size: 2rem;
    }
            .titles{
                font-size:3rem;
                margin: auto auto .5rem;
            }
        .logo{
            display:flex;
            left: .5rem;
            position: relative;
            text-align: left;
        }

        .menu{
            right: .5rem;
            position: absolute;
            top: 1.25rem;
        }
        .navi{
            font-size: 2.5rem;
            margin: auto auto .5rem;
            text-decoration: underline;
        }
    /*h3*/
        .subtitle{
            font-family: 'AlegreyaSansRegular', Arial, Helvetica, sans-serif;
            font-size: 1.75rem;
            margin: auto auto .5rem;
        }
    h4{
        font-size: 2rem;
        margin: 3rem auto .5rem;
    }
    h5{
        font-size: 1.9rem;
        line-height: 0rem;
        margin-top: 1.5rem;
    }
        #link{
            margin-bottom: 1.5rem;
            margin-top: 3rem;
        }

hgroup{
    border-bottom: .2rem solid var(--foreground);
}

p, ul{
    font-family: 'AlegreyaSansRegular', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: auto auto 1rem;
}
    #contact{
        list-style-type: none;
        text-indent: 0rem;
    }
    .experience{
        margin-top: 2rem
    }
    .heading{
        font-size: 1.4rem;
        left: 3.6rem;
        top: 2.1rem;
        margin: auto;
        position: absolute;
    }

.responsive{
    display:block;
    height: auto;
    margin: .5rem auto auto;
    width:100%;
}

    #selfie{
        border: 0.3125rem solid var(--pink-600);
        border-radius: 50%;
        height: 15.625rem;
        margin: 2rem auto 2rem;
        width: 15.625rem;
    }
    figcaption{
        font-family: 'AlegreyaSansRegular', Arial, Helvetica, sans-serif;
        font-size: 1rem;
        margin: .5rem auto 2rem;
        text-align: center;
    }

button{
    background-color: var(--pink-400);
    border-radius: 30%;
    color: var(--background);
    font-size: 1.25rem;
    margin: auto;
    width:10.9375rem;
}
    .navbutton{
        background-color: var(--pink-300);
        border-radius: 0rem;
        color: var(--foreground);
        text-align: left;
        width: 24rem;
    }
    div{
        display: flex;
    }
    .box{
        height: 2rem;
    }

footer{
    background-color: var(--pink-300);
    height: auto;
    margin: 1.5rem 0rem 0rem;
    padding: .5rem;
    text-indent: 1rem;
    width:auto;
}
