
--pink-100:#FFCCD5
--pink-200:#FF8FA3
--pink-300:#FF4D6D
--pink-400:#590D22
--pink-500:#2D0510

--white-blue:#FFF0F3
--white-yellow:#FFF9EC

--green-blue:#115745

--background:--white-yellow 
--foreground:--pink-500